.waypoints-form {
  position: absolute;
  left: -300px;
  top: 0px;
  .form-group {
    .waypoints-form-input {
      margin-bottom: 40px;
      text-overflow: ellipsis;
      width: 250px;
    }
  }
  .input-group {
    .form-control {
      cursor: pointer;
      text-overflow: ellipsis;
      width: 250px;
    }
    .input-group-append {
      .btn {
        border-color: #ccc;
        border-left: none;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) {
  .waypoints-form {
    left: auto;
    right: auto;
    top: 820px;
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px){
  .waypoints-form {
    left: -250px;
    .form-group {
      .waypoints-form-input {
        width: 200px;
      }
    }
    .input-group {
      .form-control {
        width: 200px;
      }
    }
  }
}
